*{
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#titulo-principal{
    color: aliceblue;
    background-color: blue;
}

#teste1{
    color: aqua;
}

p{
    text-align: justify;
    margin: 25px;
    color: aliceblue;
}